SHOP=pakstyle-dev.myshopify.com
PORT=3000
# Admin access token (Private app / Admin API access token)
SHOPIFY_ADMIN_ACCESS_TOKEN=
# API key & secret (for OAuth flows if implemented)
SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
